{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>♥KOFUKU♥</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'kofuku/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'kofuku/styles.css' %}" />
	</head>
	<body>

		<div class="container-fluid" id="wrapper">
			<!--The gratitude list-->
			<div class="row row1">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<h2>WHAT ARE YOU GRATEFUL FOR?</h2>
					
					<form action ="{% url 'addGrat' %}" method="POST" role="form">
						{% csrf_token %}
						<div class="form-group">
							<div class="input-group">
							  {{ form1.text1 }}
							  <span class="input-group-btn">
								  <button type="submit" class="btn btn-default" id="add-btn1">ADD</button>
							  </span>
							</div>
						</div>
					</form>

					<div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">
								<div class="btn-group">
									<a href="{% url 'deletecompleteGrat' %}"><button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> DELETE COMPLETED
									</button></a>
								</div>
								<div class="btn-group">
									<a href="{% url 'deleteallGrat' %}"><button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> DELETE ALL
									</button></a>
								</div>
							</div>
						</div>
					</div>

					<ul class="list-group t20">
						{% for grat in grat_list %}
							{% if grat.complete1 %}
							<li class="list-group-item grat-completed">{{ grat.text1 }}</li>
							{% else %}
							<a href ="{% url 'completeGrat' grat.id %}"><li class="list-group-item">{{ grat.text1 }}</li></a>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>

			<!--The goal list-->
			<div class="row row2">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<h2>WHAT ARE YOUR 3 GOALS?</h2>
					
					<form action ="{% url 'addGoal' %}" method="POST" role="form">
						{% csrf_token %}
						<div class="form-group">
							<div class="input-group">
								{{ form2.text2 }}
							  <span class="input-group-btn">
								  <button type="submit" class="btn btn-default" id="add-btn">ADD</button>
							  </span>
							</div>
						</div>
					</form>

					<div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">
								<div class="btn-group">
									<a href="{% url 'deletecompleteGoal' %}"><button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> DELETE COMPLETED
									</button></a>
								</div>
								<div class="btn-group">
									<a href="{% url 'deleteallGoal' %}"><button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> DELETE ALL
									</button></a>
								</div>
							</div>
						</div>
					</div>

					<ul class="list-group t20">
							{% for goal in goal_list %}
								{% if goal.complete2 %}
								<li class="list-group-item goal-completed">{{ goal.text2 }}</li>
								{% else %}
								<a href ="{% url 'completeGoal' goal.id %}"><li class="list-group-item">{{ goal.text2 }}</li></a>
								{% endif %}
							{% endfor %}
					</ul>
				</div>
			</div>

			<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						Copyright &copy; 2018 <strong>Kofuku App</strong>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>