{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>♥KOFUKU♥</title>
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400i" rel="stylesheet">
		<script defer src="{% static 'kofuku/bs/js/fontawesome-all.js' %}"></script>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'kofuku/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'kofuku/styles.css' %}" />
	</head>
	<body>
		<!--quote -->
		<div class = "container-fluid">
			<div class= "row">
				<div class="col-md-12">
					<div class="row">
						<div class="col" id="quote">
							<h3>Calm is a superpower.</h3>
						</div>
					</div>	
				</div>
			</div>
		</div>
		<!--The gratitude list-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div id="content">
								<h2>WHAT ARE YOU GRATEFUL FOR?</h2>
								
								<form action ="{% url 'addgrat' %}" method="POST" role="form">
									{% csrf_token %}
									<div class="form-group">
										<div class="input-group">
										{{ form_grat.text_grat }}
										<span class="input-group-btn">
											<button type="submit" class="btn btn-default" id="add-btn">ADD</button>
										</span>
										</div>
									</div>
								</form>	
								<!-- <i class="fas fa-history" style="font-size:18px;color:rgb(61, 59, 59);"></i>
								<i class="fas fa-save" style="font-size:18px;color:rgb(37, 37, 37);"></i> 	 -->
				
								<ul class="list-group t20">
									{% for grat in grat_list %}
										{% if grat.complete_grat %}
										<li class="list-group-item grat-comp">
											<i class="fas fa-heart" style="font-size:18px;color:rgb(250, 33, 116);"></i>  {{ grat.text_grat }}
											 
											<a href="{% url 'deletegrat' grat.id %}"><button type="button" class="far fa-trash-alt pull-right" style="font-size:15px;color:grey;"></button></a>
										</li>
										{% else %}
										<li class="list-group-item gratt">
												<a href ="{% url 'completegrat' grat.id %}"><i class="far fa-heart" style="font-size:18px;color:rgb(245, 45, 61);"></i></a>  {{ grat.text_grat }}
												<a href="{% url 'deletegrat' grat.id %}"><button type="button" class="far fa-trash-alt pull-right" style="font-size:15px;color:grey;"></button></a>
										</li>
										</a>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
				
				<!--The goal list-->
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div id="content">
								<h2>WHAT ARE YOUR 3 GOALS?</h2>
								
								<form action ="{% url 'addgoal' %}" method="POST" role="form">
									{% csrf_token %}
									<div class="form-group">
										<div class="input-group">
											{{ form_goal.text_goal }}
											<span class="input-group-btn">
												<button type="submit" class="btn btn-default" id="add-btn-goal">ADD</button>
											</span>
										</div>
									</div>
								</form>

								<ul class="list-group t20">
									{% for goal in goal_list %}
										{% if goal.complete_goal %}
										<li class="list-group-item completed"><i class="far fa-check-square" style="font-size:15px;color:rgba(50, 206, 120, 0.8);"></i>  {{ goal.text_goal }}
											<a href="{% url 'deletegoal' goal.id %}"><button type="button" class="far fa-trash-alt pull-right" style="font-size:15px;color:grey;"></button></a>
										</li>
										{% else %}
										<li class="list-group-item">
											<a href ="{% url 'completegoal' goal.id %}"><i class="far fa-square" style="font-size:15px;color:rgba(55, 220, 129, 0.8);"></i></a>  {{ goal.text_goal }}
											<a href="{% url 'deletegoal' goal.id %}"><button type="button" class="far fa-trash-alt pull-right" style="font-size:15px;color:grey;"></button></a>
										</li>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
			<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						Copyright &copy; 2018 <strong>Kofuku App</strong>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>